<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Editar Localidad</title>
</head>

<body>

<header>
    <h5> Este es el header </h5>
</header>

<main role="main">
    <hr>
    <div class="container">

        <div class="card">
            <h4 class="card-header"><strong>Editar Localidad</strong></h4>
            <div class="card-body">

                <form action="/localidad/aceptarEditLocalidad" method="POST">

                    <p th:if="${msgExito != null}" th:text="${msgExito}" style="color:green;"></p>
                    <p th:if="${msgError != null}" th:text="${msgError}" style="color: red;"></p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input type="hidden" name="id" th:value="${localidad.id != null ? localidad.id : 0}">

                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" name="nombre" th:value="${localidad.nombre}"
                                       th:disabled="${isDisabled}" class="form-control"
                                       placeholder="Escriba el nombre de la localidad" required="required">

                                <label for="cp">Codigo postal</label>
                                <input type="text" id="cp" name="codigoPostal" th:value="${localidad.codigoPostal}"
                                       th:disabled="${isDisabled}" class="form-control"
                                       placeholder="Escriba el código postal" required="required">

                                <div class="form-group">
                                    <label for="departamentos">Departamento</label>
                                    <select id="departamentos" class="form-control" name="idDepartamento" th:disabled="${isDisabled}">
                                        <option th:each="departamento : ${departamentos}" th:value="${departamento.id}" th:text="${departamento.nombre}"></option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="d-grid gap-2 float-right justify-content-md-end">
                        <button type="submit" title="Guardar el registro." class="btn btn-primary"
                                th:disabled="${isDisabled}">
                            Aceptar
                        </button>

                        <button type="submit" title="Cancelar la edición." class="btn btn-primary" th:disabled="${isDisabled}" th:href="@{/localidad/cancelarEditLocalidad}">
                            Cancelar
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</main>

<footer>
    <h5>
        Este es el footer
    </h5>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

</body>

</html>
