<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head.html :: head_1}"></head>

<body>
    <div class="container-scroller">

        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar.html :: nav_bar}"></nav>

        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <nav th:replace="~{fragments/menu.html :: sideBar}"></nav>
            <div class="content-wrapper">

                <!-- FORMULARIO -->
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card large-form">
                        <div class="card">
                            <div class="card-body">

                                <h5 class="card-title">Localidad</h5>

                                <form class="forms-sample" action="/localidad/aceptarEditLocalidad" method="POST">

                                    <p th:if="${msgExito != null}" th:text="${msgExito}" style="color:green;"></p>
                                    <p th:if="${msgError != null}" th:text="${msgError}" style="color: red;"></p>

                                    <div class="form-group">

                                        <input type="hidden" name="id"
                                            th:value="${localidad.id != null and !localidad.id.isEmpty() ? localidad.id : '0'}">


                                        <label for="nombre">Nombre</label>
                                        <input type="text" id="nombre" name="nombre" th:value="${localidad.nombre}"
                                            th:disabled="${isDisabled}" class="form-control"
                                            placeholder="Escriba el nombre de la localidad" required="required">

                                        <label for="cp">Codigo postal</label>
                                        <input type="text" id="cp" name="codigoPostal"
                                            th:value="${localidad.codigoPostal}" th:disabled="${isDisabled}"
                                            class="form-control" placeholder="Escriba el código postal"
                                            required="required">

                                        <div class="form-group">
                                            <label for="departamentos">Departamento</label>
                                            <select id="departamentos" class="form-control" name="idDepartamento"
                                                th:disabled="${isDisabled}">
                                                <option th:each="departamento : ${departamentos}"
                                                    th:value="${departamento.id}" th:text="${departamento.nombre}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" title="Guardar el registro." class="btn btn-primary mr-2"
                                        th:disabled="${isDisabled}">
                                        Aceptar
                                    </button>


                                    <a th:href="@{/localidad/cancelar}" class="btn btn-light"
                                        title="Cancelar la edición.">
                                        Cancelar
                                    </a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{fragments/footer.html :: footer_}"> </footer>
    <!-- JS -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>

</body>

</html>