<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head.html :: head_1}"></head>

<body>
    <div class="container-scroller">

        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar.html :: nav_bar}"></nav>

        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <nav th:replace="~{fragments/menu.html :: sideBar}"></nav>

            <!-- FORMULARIO -->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card large-form">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Direccion</h5>

                            <form class="forms-sample" action="/direccion/aceptarEditDireccion" method="POST">

                                <p th:if="${msgExito != null}" th:text="${msgExito}" style="color:green;"></p>
                                <p th:if="${msgError != null}" th:text="${msgError}" style="color: red;"></p>

                                <div class="form-group">

                                    <input type="hidden" name="id"
                                        th:value="${direccion.id != null and !direccion.id.isEmpty() ? direccion.id : '0'}">

                                    <div class="form-group">
                                        <label for="localidades">Localidad</label>
                                        <select id="localidades" class="form-control" name="idLocalidad"
                                            th:disabled="${isDisabled}">
                                            <option th:each="localidad : ${localidades}" th:value="${localidad.id}"
                                                th:text="${localidad.nombre}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="barrio">Barrio</label>
                                        <input type="text" id="barrio" name="barrio" th:value="${direccion.barrio}"
                                            th:disabled="${isDisabled}" class="form-control" placeholder="Barrio"
                                            required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="calle">Calle</label>
                                        <input type="text" id="calle" name="calle" th:value="${direccion.calle}"
                                            th:disabled="${isDisabled}" class="form-control" placeholder="Calle"
                                            required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="numeracion">Numeracion</label>
                                        <input type="text" id="numeracion" name="numeracion"
                                            th:value="${direccion.numeracion}" th:disabled="${isDisabled}"
                                            class="form-control" placeholder="Numeracion" required="required">
                                    </div>

                                    <div class="form-group">
                                        <label for="observacion">Observación</label>
                                        <input type="text" id="observacion" name="observacion"
                                            th:value="${direccion.observacion}" th:disabled="${isDisabled}"
                                            class="form-control" placeholder="¿Alguna observacion?">
                                    </div>

                                    <button type="submit" title="Guardar el registro." class="btn btn-primary mr-2"
                                        th:disabled="${isDisabled}">
                                        Aceptar
                                    </button>

                                    <a th:href="@{/direccion/cancelar}" class="btn btn-light"
                                        title="Cancelar la edición.">
                                        Cancelar
                                    </a>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{fragments/footer.html :: footer_}"> </footer>
    <!-- JS -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>


</body>

</html>