<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head.html :: head_1}"></head>

<body>
    <div class="container-scroller">

        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar.html :: nav_bar}"></nav>

        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <nav th:replace="~{fragments/menu.html :: sideBar}"></nav>

            <!-- FORMULARIO -->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card large-form">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Provincia</h5>

                            <form class="forms-sample" action="/provincia/aceptarEditProvincia" method="POST">

                                <p th:if="${msgExito != null}" th:text="${msgExito}" style="color:green;"></p>
                                <p th:if="${msgError != null}" th:text="${msgError}" style="color: red;"></p>

                                <div class="form-group">

                                    <input type="hidden" name="id"
                                        th:value="${provincia.id != null ? provincia.id : '0'}">

                                    <label for="nombre">Nombre</label>
                                    <input type="text" id="nombre" name="nombre" th:value="${provincia.nombre}"
                                        th:disabled="${isDisabled}" class="form-control"
                                        placeholder="Escriba el nombre de la provincia" required="required">

                                    <div class="form-group">
                                        <label for="paises">Pais</label>
                                        <select id="paises" class="form-control" name="idPais"
                                            th:disabled="${isDisabled}">
                                            <option th:each="pais : ${paises}" th:value="${pais.id}"
                                                th:text="${pais.nombre}"></option>
                                        </select>
                                    </div>

                                </div>

                                <button type="submit" title="Guardar el registro." class="btn btn-primary mr-2"
                                    th:disabled="${isDisabled}">
                                    Aceptar
                                </button>


                                <a th:href="@{/provincia/cancelar}" class="btn btn-light" title="Cancelar la edición.">
                                    Cancelar
                                </a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{fragments/footer.html :: footer_}"> </footer>
    <!-- JS -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>

</body>

</html>