/* FORMULARIO */

/* Estilo general para formularios grandes */
.large-form {
    font-size: 1rem;  /* Aumenta el tamaño de la fuente en general */
}

/* Aumenta el tamaño de la fuente de los inputs y selects */
.large-form .form-control {
    font-size: 0.6rem;  /* Aumenta el tamaño de la fuente dentro de los inputs */
}

/* Controla el espaciado entre las divisiones del formulario */
.large-form .form-group {
    margin-bottom: 10px;  /* Aumenta el espacio entre las divisiones del formulario */
}

/* Aumenta el tamaño de la fuente de los labels */
.large-form label {
    font-size: 10px;  /* Aumenta el tamaño de la fuente del label */
}

/* Aumenta el tamaño de la fuente del título dentro de la tarjeta */
.large-form .card-title {
    font-size: 12px;  /* Aumenta el tamaño del título de la tarjeta */
}

/* Estilo para los botones */
.large-form .btn {
    font-size: 9px;  /* Aumenta el tamaño del texto dentro de los botones */
    padding: 6px 10px;  /* Aumenta el padding (espaciado interno) de los botones */
}

/* MENU */

/* Aumenta el tamaño de la letra de los elementos del menú */
.sidebar .menu-title {
    font-size: 12px !important;  /* Ajusta el tamaño de la fuente del menú */
}

/* Aumenta el ancho de la barra lateral */
.sidebar {
    width: 150px !important;  /* Aumenta el ancho del menú */
}

/* Aumenta el tamaño de los íconos dentro del menú */
.sidebar .menu-icon {
    font-size: 13px !important;  /* Aumenta el tamaño de los íconos */
}

/* Aumenta el tamaño de los títulos de las secciones en el menú */
.sidebar .nav-item > a {
    font-size: 10px !important;  /* Aumenta el tamaño de los enlaces */
}


/*NAVBAR*/

.stop-text {
    font-weight: bold;  /* Pone el texto en negrita */
    color: white;       /* Cambia el color del texto a blanco */
    font-size: 25px;    /* Ajusta el tamaño de la fuente (puedes modificarlo a tu preferencia) */
}
.navbar {
    z-index: 1050; /* Asegúrate de que la navbar esté siempre sobre otros elementos */
}

.navbar-menu-wrapper {
    z-index: 2000; /* Asegura que la barra de navegación esté encima de otros elementos */
}

.container-scroller {
    overflow: visible;  /* Asegura que no esté ocultando contenido */
    height: auto;       /* Asegura que la altura se ajuste dinámicamente */
}




/*TABLAS*/

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

table.table th, table.table td {
    padding: 0.5rem;
}

 .btn-sm {
     font-size: 0.10rem; /* Reducir el tamaño de la fuente */
     padding: 0.10rem 0.5rem; /* Reducir el padding */
     line-height: 1; /* Ajustar la altura de la línea */
 }

.btn-icon-text i {
    font-size: 0.9rem; /* Reducir el tamaño del ícono */
}

