/*NAVBAR*/

.stop-text {
    font-weight: bold;  /* Pone el texto en negrita */
    color: white;       /* Cambia el color del texto a blanco */
    font-size: 25px;    /* Ajusta el tamaño de la fuente (puedes modificarlo a tu preferencia) */
}
