<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head.html :: head_1}"></head>

<body>
<div class="container-scroller">

    <!-- Navbar -->
    <nav th:replace="~{fragments/navbar.html :: nav_bar}"></nav>

    <!-- Sidebar -->
    <div class="container-fluid page-body-wrapper">
        <nav th:fragment="sideBar" class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
        
                <!--DASHBOARD -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/inicio}">
                        <i class="typcn typcn-arrow-left-thick menu-icon"></i>
                        <span class="menu-title">HOME</span>
                    </a>
                </li>

                <!-- VISITAS -->
        
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#visita" aria-expanded="false" aria-controls="visita">
                        <i class="typcn typcn-user menu-icon"></i>
                        <span class="menu-title">Visitas</span>
                        <i class="menu-arrow"></i>
        
                    </a>
                    <div class="collapse" id="visita">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/visitante/listarVisitante}">Visitas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/movimientoVisita/listarMovimientoVisita}">Movimientos</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    
        <!-- FORMULARIO -->
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card large-form">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Visita</h5>

                        <form class="forms-sample"  action="/visitante/aceptarEditVisitante" method="POST">

                            <p th:if="${msgExito != null}" th:text="${msgExito}" style="color:green;"></p>
                            <p th:if="${msgError != null}" th:text="${msgError}" style="color: red;"></p>

                            <div class="form-group">

                                        <input type="hidden" name="id" th:value="${visitante.id != null and !visitante.id.isEmpty() ? visitante.id : '0'}">

                                        <label for="nombre">Nombre</label>
                                        <input type="text" id="nombre" name="nombre" th:value="${visitante.nombre}"
                                            th:disabled="${isDisabled}" class="form-control"
                                            placeholder="Nombre" required="required">

                                        <label for="apellido">Apellido</label>
                                        <input type="text" id="apellido" name="apellido" th:value="${visitante.apellido}"
                                            th:disabled="${isDisabled}" class="form-control"
                                            placeholder="Apellido" required="required">

                                        <label for="dni">Documento</label>
                                        <input type="text" id="dni" name="numeroDeDocumento" th:value="${visitante.numeroDeDocumento}"
                                            th:disabled="${isDisabled}" class="form-control"
                                            placeholder="Documento" required="required">

                                        <div class="form-group">
                                            <label for="tipoVisitas">Tipo de visita</label>
                                            <select id="tipoVisitas" class="form-control" name="tipoVisita" th:disabled="${isDisabled}">
                                                <option th:each="tipoVisita : ${T(com.is2.seguridad_barrio_cliente.enumeration.TipoVisita).values()}"
                                                        th:value="${tipoVisita}"
                                                        th:text="${tipoVisita}">
                                                </option>
                                            </select>
                                        </div>
                            </div>

                            <button type="submit" title="Guardar el registro." class="btn btn-primary mr-2" th:disabled="${isDisabled}">
                                Aceptar
                            </button>

                            <a href="#" th:href="@{/visitante/cancelarEditVisitante}" class="btn btn-light" title="Cancelar la edición.">
                                Cancelar
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/footer.html :: footer_}" > </footer>
<!-- JS -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>


</body>

</html>
</title>
</head>
<body>


</body>
</html>