<head th:fragment="head_1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stop</title>
    <!-- CSS -->
    <link th:href="@{/vendors/typicons/typicons.css}" rel="stylesheet">
    <link th:href="@{/vendors/css/vendor.bundle.base.css}" rel="stylesheet">
    <link th:href="@{/css/vertical-layout-light/style.css}" rel="stylesheet">
    <link th:href="@{/images/favicon.png}" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/css/form.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>



</head>