<nav th:fragment="sideBar" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <!--DASHBOARD -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/inicio}">
                <i class="typcn typcn-arrow-left-thick menu-icon"></i>
                <span class="menu-title">HOME</span>
            </a>
        </li>

        <!--DIRECCION -->

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#direccion" aria-expanded="false"
                aria-controls="direccion">
                <i class="typcn typcn-location menu-icon"></i>
                <span class="menu-title">Dirección</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="direccion">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/pais/listarPais}">País</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/provincia/listarProvincia}">Provincia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/departamento/listarDepartamento}">Departamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/localidad/listarLocalidad}">Localidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/direccion/listarDireccion}">Dirección</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- VISITAS -->

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#visita" aria-expanded="false" aria-controls="visita">
                <i class="typcn typcn-user menu-icon"></i>
                <span class="menu-title">Visitas</span>
                <i class="menu-arrow"></i>

            </a>
            <div class="collapse" id="visita">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/visitante/listarVisitante}">Visitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/movimientoVisita/listarMovimientoVisita}">Movimientos</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- INMUEBLES -->

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#inmueble" aria-expanded="false" aria-controls="inmueble">
                <i class="typcn typcn-home menu-icon"></i>
                <span class="menu-title">Inmuebles</span>
                <i class="menu-arrow"></i>

            </a>
            <div class="collapse" id="inmueble">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/inmueble/listarInmueble}">Inmuebles</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- UNIDAD DE NEGOCIO -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#unidadDeNegocio" aria-expanded="false"
                aria-controls="unidadDeNegocio">
                <i class="typcn typcn-home menu-icon"></i>
                <span class="menu-title">Negocio</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="unidadDeNegocio">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/negocio/listarNegocio}">Negocios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/servicio/listarServicio}">Servicios</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- PERSONAS -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#personas" aria-expanded="false" aria-controls="personas">
                <i class="typcn typcn-home menu-icon"></i>
                <span class="menu-title">Personas</span>
                <i class="menu-arrow"></i>

            </a>
            <div class="collapse" id="personas">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contacto/listarContacto}">Contactos</a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>
</nav>