<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head.html :: head_1}"></head>

<body>
    <div class="container-scroller" >

        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar.html :: nav_bar}"></nav>


        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <nav th:replace="~{fragments/menu.html :: sideBar}"></nav>

            <!-- Main Content -->
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">HOME</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer.html :: footer_}" > </footer>

    <!-- JS -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>

</body>
</html>